
.title {
  background-color: inherit;
  color: #B9EDDD;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  font-family:'Franklin Gothic Medium', sans-serif;
  font-size: 3em;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.shadow {
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
}

html {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}


.game {
 display: grid;
 grid-template-columns: repeat(4, auto);
 grid-gap: 10px;
 margin: 40px;
 justify-content: center;
 perspective: 500px;
}

.information-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.information {
  color: #c7ffee;
  size: 2em;
}

.menuText{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  color: #B9EDDD;
  font-family: 'Franklin Gothic Medium';
  cursor: pointer;
}

.menuText.visible{
  display: flex;
  flex-direction: column;
  animation: grow 500ms forwards;
}

@keyframes grow {
  from{
    background-color: rgba(0,0,0,0);
    font-size: 0;
  }
  to{
    font-size: 7em;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.small {
  font-size: .3em;
}

@media (max-width: 600px) {
  .game{
    grid-template-columns: repeat(2, auto);
  }
  .information-container {
    flex-direction: column;
    align-items: center;
  }
}