.card {
    position: relative;
    height: 150px;
    width: 100px;
  }
  
  .card.visible .card-back {
    transform: rotateY(-180deg);
  }
  .card.visible .card-front {
    transform: rotateY(0);
  }
  
  .backLogo{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3.5em;
    transition: width 100ms ease-in-out, height 100ms;
  }
  
  .frontLogo{
    display: flex;
    justify-content: center;
    font-size: 3.5em;
  }
  
  .card-back {
    background-color: black;
    border-color: #B9EDDD;
  }
  
  .card-back:hover .backLogo{
    font-size: 4em; 
  }

  .card-back:hover{
    cursor: pointer; 
  }
  
  .card-front {
    border-color:#333;
    transform: rotateY(180deg);
    background-color: #c7ffee;;
  }
  
  .cardLogo {
    transform: scale(.9);
    transition: transform 100ms ease-in-out;
  }
  
  .card-front:hover .cardLogo {
    transform: scale(1);
  }
  
  .card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
  }
  
  .card.matched .cardLogo {
    animation: shake 1s linear infinite 500ms;
  }
  
  @keyframes shake {
    0%, 100%{
      transform: rotate(0);
    }
    25% {
      transform: rotate(-30deg)
    }
    75% {
      transform: rotate(30deg)
    }
  }